<div class="modale" style="text-align: center;">
    <mat-icon color="warn">warning</mat-icon>
    <mat-icon color="warn">warning</mat-icon>
    <mat-icon color="warn">warning</mat-icon>
    <h1 mat-dialog-title> Oops......</h1>
    <div mat-dialog-content>
        <h2>Nothing To See Here</h2>
        <h2>You Will Be Moved To Main Page</h2>
    </div>
    <div class="modale-button" mat-dialog-actions>
        <button mat-dialog-close mat-raised-button color="warn">Close</button>
    </div>
</div>